.banner{
    height:750px;
    width: 100%;
    overflow: hidden;
}

.banner img{
    width: 100vw;
}

.login, .register{
    text-decoration: none;
    color: green;
}

.card{
    margin-top: 12px;
}