{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/myadmin.css' %}">
    <link rel="stylesheet" href="{% static 'css/myadmin_forms.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock title %}</title>

    {% block css %}
    {% endblock css%}
</head>

<body>
    {% if request.user.is_superuser %}
    <section id="sidemenue">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="" width="100">
        </div>
        <div class="items">
            <ul>
                <li class="{% if request.resolver_match.url_name == "admin_users" %}active{% endif %}">
                    <a href="{% url 'admin_dashboard' %}"><i class='fa fa-user'></i>
                        Users</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "admin_games" %}active{% endif %}">
                    <a href="{% url 'admin_games' %}"><i class='fa fa-edit'></i>Games Category</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "admin_highlights" %}active{% endif %}">
                    <a href="{% url 'admin_highlights' %}"><i class='fa fa-folder-open'></i>Highlights</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "admin_broadcasts" %}active{% endif %}">
                    <a href="{% url 'admin_broadcasts' %}"><i class='fa fa-edit'></i>Broadcasts</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "admin_schedule" %}active{% endif %}">
                    <a href="{% url 'admin_schedule' %}"><i class='fa fa-folder-open'></i>Schedule</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "admin_scoreboards" %}active{% endif %}">
                    <a href="{% url 'admin_scoreboards' %}"><i class='fa fa-folder-open'></i>Scoreboard</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "admin_athletes" %}active{% endif %}">
                    <a href="{% url 'admin_athletes' %}"><i class='fa fa-folder-open'></i>Athletes</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "admin_hit_counter" %}active{% endif %}">
                    <a href="{% url 'admin_hit_counter' %}"><i class='fa fa-folder-open'></i>Hit Counter</a>
                </li>
    
    
            </ul>
        </div>
    </section>

    {% block content %}

    {% endblock content %}
    {% else %}

    <section>
        <div>
            Sorry you are not authenticated.
        </div>
    </section>
    {% endif %}
</body>

</html>