{% extends 'users/base.html' %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}



{% block content %}
<div class="overlay">|</div>
<div class="center">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}

        <div class="txt_field">
            <input type="username" name="username" required>
            <span></span>
            <label>Username</label>
        </div>

        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
        </div>

        <div class="submit">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock content %}